<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>DishPlate</title>

  <link rel="apple-touch-icon" sizes="180x180" href="./images/logos/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/logos/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/logos/favicon-16x16.png">
  <link rel="manifest" href="./images/logos/site.webmanifest">
</head>
<body>
  <a href="#main" class="skip">Skip to Content</a>
  <header>
    <nav>
      
    </nav>
  </header>
  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</body>
</html>