<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>DishPlate</title>

  <!-- DishPlate logo -->
  <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
  <link rel="manifest" href="./manifest.json">

  <!-- Quicksand -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"></noscript>
  
  <!-- Material Symbols -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,300,1,200" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,300,1,200"></noscript>
</head>
<body>
  <a href="#content" class="skip">Skip to Content</a>
  <header>
    <nav class="nav-bar" role="navigation">
      <a href="./#/" class="nav-brand text-neutral" aria-label="Brand link">
        <img src="./icons/favicon-32x32.png" alt="Fork & Knife with Plate" loading="lazy">
        <span role="contentinfo">DishPlate</span>
      </a>
      <button class="nav-drawer display-none-m display-none-l display-none-xl display-flex-s bg-transparent " aria-label="Navigation button for drawer menu" aria-expanded="false">
        <span class="material-symbols-sharp">
          menu
        </span>
      </button>
      <ul class="nav-menu bg-white" aria-label="Navigation menu">
        <li class="item" aria-label="Navigation menu anchor">
          <a href="./#/" class="text-neutral">
            Home
            <span class="material-symbols-sharp" aria-hidden="true">
              home
            </span>
          </a>
        </li>
        <li class="item" aria-label="Navigation menu anchor">
          <a href="./#/favorite" class="text-neutral">
            Favorite
            <span class="material-symbols-sharp" aria-hidden="true">
              favorite
            </span>
          </a>
        </li>
        <li class="item" aria-label="Navigation menu anchor">
          <a href="https://github.com/hawariMuflihMunte" target="_blank" class="text-neutral">
            About Us
            <span class="material-symbols-sharp" aria-hidden="true">
              help
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main role="main">
    <section class="hero-banner" role="banner">
      <picture>
        <source srcset="./images/heros/hero.webp" type="image/webp">
        <img src="./images/heros/hero.jpg" alt="Food in a bowl and a bunch of flowers on the side of the bowl">
      </picture>
    </section>
    <section id="content" class="container">
      <h1>DishPlate</h1>
      <section id="menu" role="list"></section>
    </section>
  </main>
  <footer aria-label="footer" tabindex="0">
    <p role="complementary">DishPlate © <span id="year"></span></p>
  </footer>
</body>
</html>