@import './variables';

.margin-left-a {
    margin-left: auto;
}

.margin-left-n {
    margin-left: none;
}

.margin-left-xxs {
    margin-left: $xxs;
}

.margin-left-xs {
    margin-left: $xs;
}

.margin-left-s {
    margin-left: $s;
}

.margin-left-m {
    margin-left: $m;
}

.margin-left-l {
    margin-left: $l;
}

.margin-left-xl {
    margin-left: $xl;
}

.margin-left-xxl {
    margin-left: $xxl;
}

// Minus modifier ( -- )
.margin-left--xxs {
    margin-left: -($xxs);
}

.margin-left--xs {
    margin-left: -($xs);
}

.margin-left--s {
    margin-left: -($s);
}

.margin-left--m {
    margin-left: -($m);
}

.margin-left--l {
    margin-left: -($l);
}

.margin-left--xl {
    margin-left: -($xl);
}

.margin-left--xxl {
    margin-left: -($xxl);
}
