@import './variables';

.margin-top-a {
    margin-top: auto;
}

.margin-top-n {
    margin-top: none;
}

.margin-top-xxs {
    margin-top: $xxs;
}

.margin-top-xs {
    margin-top: $xs;
}

.margin-top-s {
    margin-top: $s;
}

.margin-top-m {
    margin-top: $m;
}

.margin-top-l {
    margin-top: $l;
}

.margin-top-xl {
    margin-top: $xl;
}

.margin-top-xxl {
    margin-top: $xxl;
}

// Minus modifier ( -- )
.margin-top--xxs {
    margin-top: -($xxs);
}

.margin-top--xs {
    margin-top: -($xs);
}

.margin-top--s {
    margin-top: -($s);
}

.margin-top--m {
    margin-top: -($m);
}

.margin-top--l {
    margin-top: -($l);
}

.margin-top--xl {
    margin-top: -($xl);
}

.margin-top--xxl {
    margin-top: -($xxl);
}