.skip {
    position: fixed;
    top: -100%;
    background-color: darkblue;
    color: white;
    text-decoration: none;

    z-index: 20;
}

.skip:focus {
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 480px) {
    .skip {
        display: none;
    }
}