@use './fonts';
@use './skip';
@use './utils/colors';

@import './mobile/mobile';

body {
    background-color: azure;
}

img {
    width: 100%;
    height: auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 38px;
    background-color: white;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .nav-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        font-size: 26px;

        font-weight: 800;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 12px;

        .item {
            font-size: 18px;
            font-weight: 400;
        }

        .item a {
            display: flex;
            place-items: center;
            gap: 4px;
            transition: 200ms linear;
            width: 100%;
        }

        .item a:hover {
            scale: 1.145;
        }

        span[class*="material"] {
            font-size: inherit;
        }
    }

    @media screen and (max-width: $s) {
        & {
            justify-content: center;
            position: relative;
        }

        .nav-brand {
            justify-self: center;
        }

        .nav-menu {
            background-color: white;
            flex-direction: column;
            place-content: center;
            place-items: center;
            position: absolute;

            top: 36px;
            z-index: 10;
            gap: 0;
            row-gap: 10px;
            width: 100%;

            padding: 15px 0;
            border-top: 1px solid;
        }

        .nav-menu .item {
            overflow: hidden;
            width: 100%;
            position: relative;
        }
        
        .nav-menu .item a {
            place-content: center;
            place-items: center;
            padding: 15px;
        }

        .nav-menu .item:not(:first-child) {
            margin-top: 6px !important;
        }
    }
}

section.hero-banner {
    img {
        width: 100%;

        @media screen and (min-width: 1200px) {
            & {
                min-width: 1000px;
            }
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 80%;

    @media screen and (max-width: $xs) {
        & {
            max-width: 96%;
        }
    }

    @media screen and (max-width: $s) {
        & {
            max-width: 85%;
        }
    }
}
