.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 0;

  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
  background-color: whitesmoke;

  &:hover,
  &:focus {
    transform: translateY(2px);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
  }
}

.card-city {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.95);
  z-index: 100;

  padding: 5px 15px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.card-rating {
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid;
  background-color: bisque;

  font-weight: 700;
}

.card-title {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: large;
  display: flex;
  align-items: center;

  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 44px;
  padding: 0;

  height: 100%;

  a {
    max-width: 100%;
    max-height: 100%;
    min-height: 44px;
    padding: 0;
    display: flex;
  
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
  }
}

.card-description {
  padding: 0 20px 0 20px;
}
