@import '../mobile/mobile-breakpoints.scss';

// Custom app styling

$color-100: #ECF9FF;
$color-200: #FFFBEB;
$color-300: #FFE7CC;
$color-400: #F8CBA6;

.bg-100 {
    background-color: $color-100;
}

.text-100 {
    color: $color-100;
}

.bg-200 {
    background-color: $color-200;
}

.text-200 {
    color: $color-200;
}

.bg-300 {
    background-color: $color-300;
}

.text-300 {
    color: $color-300;
}

.bg-400 {
    background-color: $color-400;
}

.text-400 {
    color: $color-400;
}

// End Custom app styling

/*
 * Additional styling
 */

$color-white: #fff;
$color-black: #000;

$color-neutral: #5a5a5a;
$color-dark: #212129;

.bg-neutral {
    background-color: $color-neutral;
}

.text-neutral {
    color: $color-neutral;
}

@media screen and (max-width: $xs) {
    .bg-neutral\@\xs {
        background-color: $color-neutral;
    }

    .text-neutral\@\xs {
        color: $color-neutral;
    }
}

.bg-white {
    background-color: $color-white;
}

.text-white {
    color: $color-white;
}

@media screen and (max-width: $xs) {
    .bg-white {
        background-color: $color-white;
    }

    .text-white {
        color: $color-white;
    }
}

.bg-black {
    background-color: $color-black;
}

.text-black {
    color: $color-black;
}

@media screen and (max-width: $xs) {
    .bg-white {
        background-color: $color-white;
    }

    .text-white {
        color: $color-white;
    }
}
