.padding-a {
    padding: auto;
}

.padding-n {
    padding: none;
}

.padding-xxs,
.padding {
    padding: 3px;
}

.padding-xs {
    padding: 7px;
}

.padding-s {
    padding: 15px;
}

.padding-m {
    padding: 23px;
}

.padding-l {
    padding: 32px;
}

.padding-xl {
    padding: 42px;
}

.padding-xxl {
    padding: 60px;
}