.padding-bottom-a {
    padding-bottom: auto;
}

.padding-bottom-n {
    padding-bottom: none;
}

.padding-bottom-xxs,
.padding-bottom {
    padding-bottom: 3px;
}

.padding-bottom-xs {
    padding-bottom: 7px;
}

.padding-bottom-s {
    padding-bottom: 15px;
}

.padding-bottom-m {
    padding-bottom: 23px;
}

.padding-bottom-l {
    padding-bottom: 32px;
}

.padding-bottom-xl {
    padding-bottom: 42px;
}

.padding-bottom-xxl {
    padding-bottom: 60px;
}