.padding-left-a {
    padding-left: auto;
}

.padding-left-n {
    padding-left: none;
}

.padding-left-xxs,
.padding-left-xxs {
    padding-left: 3px;
}

.padding-left-xs {
    padding-left: 7px;
}

.padding-left-s {
    padding-left: 15px;
}

.padding-left-m {
    padding-left: 23px;
}

.padding-left-l {
    padding-left: 32px;
}

.padding-left-xl {
    padding-left: 42px;
}

.padding-left-xxl {
    padding-left: 60px;
}