.padding-right-a {
    padding-right: auto;
}

.padding-right-n {
    padding-right: none;
}

.padding-right-xxs,
.padding-right {
    padding-right: 3px;
}

.padding-right-xs {
    padding-right: 7px;
}

.padding-right-s {
    padding-right: 15px;
}

.padding-right-m {
    padding-right: 23px;
}

.padding-right-l {
    padding-right: 32px;
}

.padding-right-xl {
    padding-right: 42px;
}

.padding-right-xxl {
    padding-right: 60px;
}