.padding-top-a {
    padding-top: auto;
}

.padding-top-n {
    padding-top: none;
}

.padding-top-xxs,
.padding-top {
    padding-top: 3px;
}

.padding-top-xs {
    padding-top: 7px;
}

.padding-top-s {
    padding-top: 15px;
}

.padding-top-m {
    padding-top: 23px;
}

.padding-top-l {
    padding-top: 32px;
}

.padding-top-xl {
    padding-top: 42px;
}

.padding-top-xxl {
    padding-top: 60px;
}