.padding-y-axis-a {
    padding-top: auto;
    padding-bottom: auto;
}

.padding-y-axis-n {
    padding-top: none;
    padding-bottom: none;
}

.padding-y-axis-xxs,
.padding-y-axis {
    padding-top: 3px;
    padding-bottom: 3px;
}

.padding-y-axis-xs {
    padding-top: 7px;
    padding-bottom: 7px;
}

.padding-y-axis-s {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-y-axis-m {
    padding-top: 23px;
    padding-bottom: 23px;
}

.padding-y-axis-l {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding-y-axis-xl {
    padding-top: 42px;
    padding-bottom: 42px;
}

.padding-y-axis-xxl {
    padding-top: 60px;
    padding-bottom: 60px;
}