.padding-x-axis-a {
    padding-left: auto;
    padding-right: auto;
}

.padding-x-axis-n {
    padding-left: none;
    padding-right: none;
}

.padding-x-axis-xxs,
.padding-x-axis {
    padding-left: 3px;
    padding-right: 3px;
}

.padding-x-axis-xs {
    padding-left: 7px;
    padding-right: 7px;
}

.padding-x-axis-s {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-x-axis-m {
    padding-left: 23px;
    padding-right: 23px;
}

.padding-x-axis-l {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-x-axis-xl {
    padding-left: 42px;
    padding-right: 42px;
}

.padding-x-axis-xxl {
    padding-left: 60px;
    padding-right: 60px;
}