@import '../../../mobile/mobile-breakpoints';

// display-none
.display-none {
    display: none;
}

@media screen and (max-width: $xs) {
    .display-none-xs {
        display: none;
    }
}

@media screen and (max-width: $s) {
    .display-none-s {
        display: none;
    }
}

@media screen and (max-width: $m) {
    .display-none-m {
        display: none;
    }
}

@media screen and (max-width: $l) {
    .display-none-l {
        display: none;
    }
}

@media screen and (max-width: $xl) {
    .display-none-xl {
        display: none;
    }
}
// End display-none


// display-block

.display-block {
    display: block;
}

@media screen and (max-width: $xs) {
    .display-block-xs {
        display: block;
    }
}

@media screen and (max-width: $s) {
    .display-block-s {
        display: block;
    }
}

@media screen and (max-width: $m) {
    .display-block-m {
        display: block;
    }
}

@media screen and (max-width: $l) {
    .display-block-l {
        display: block;
    }
}

@media screen and (max-width: $xl) {
    .display-block-xl {
        display: block;
    }
}
// End display-block

// display-inline
.display-inline {
    display: inline;
}

@media screen and (max-width: $xs) {
    .display-inline-xs {
        display: inline;
    }
}

@media screen and (max-width: $s) {
    .display-inline-s {
        display: inline;
    }
}

@media screen and (max-width: $m) {
    .display-inline-m {
        display: inline;
    }
}

@media screen and (max-width: $l) {
    .display-inline-l {
        display: inline;
    }
}

@media screen and (max-width: $xl) {
    .display-inline-xl {
        display: inline;
    }
}
// End display-inline

// display-flex
.display-flex {
    display: flex;
}

@media screen and (max-width: $xs) {
    .display-flex-xs {
        display: flex;
    }
}

@media screen and (max-width: $s) {
    .display-flex-s {
        display: flex;
    }
}

@media screen and (max-width: $m) {
    .display-flex-m {
        display: flex;
    }
}

@media screen and (max-width: $l) {
    .display-flex-l {
        display: flex;
    }
}

@media screen and (max-width: $xl) {
    .display-flex-xl {
        display: flex;
    }
}
// End display-flex

// display-grid
.display-grid {
    display: grid;
}

@media screen and (max-width: $xs) {
    .display-grid-xs {
        display: grid;
    }
}

@media screen and (max-width: $s) {
    .display-grid-s {
        display: grid;
    }
}

@media screen and (max-width: $m) {
    .display-grid-m {
        display: grid;
    }
}

@media screen and (max-width: $l) {
    .display-grid-l {
        display: grid;
    }
}

@media screen and (max-width: $xl) {
    .display-grid-xl {
        display: grid;
    }
}
// End display-grid
